/*================BASE TAGS==================*/
h1{
    font-weight: 700;
    font-size: 2.5rem;
}
h2{
    font-weight: 700;
    font-size: 2rem;
}
h3{
    font-weight: 700;
    font-size: 1.5rem;
}

/*================BASE ELEMENTS==================*/
body{

}

body > div.cover{
    border: 5px ridge black;
}

body > div.cover h1{
    text-align: center;
    border-bottom: 5px ridge black;
    font-size: 2.5rem;
    padding-top: 0.25rem;
}

.cover, .container{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
}

.cover:not(:first-child), .container:not(:first-child){
    display: none;
    background: white;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

main{
    position: absolute;
    top: 3.05rem;
    left: 0;
    right: 0;
    bottom: 3.0rem;
    overflow: auto;
    padding: 0.5rem 0;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 5px ridge black;
    white-space: nowrap;
}
footer button{
    font-size: 1.25rem;
}

/*================INPUT/NAVIGATION ELEMENTS==================*/
a{
    text-decoration: none;
    color: black;
}
button, .button, a, select{
    margin: 0.25rem;
    border: 3px outset black;
    border-radius: 5px;
    padding: 0.2rem;
    cursor: pointer;
    color: black;
    white-space: nowrap;
}

button:hover, .button:hover, a:hover{
    border-color: red;
}
button:active, .button:active, a:active{
    border-color: orange;
    border-style: inset;
    outline: none;
}

input, textarea, div[contenteditable='true']{
    border: 3px outset black;
    border-radius: 5px;
    padding: 0.2rem;
    margin: 0.2rem;
    color: black;
}
div[contenteditable='true']{
    padding-right: 1rem;
}
input:focus, textarea:focus, div[contenteditable='true']:focus{
    border-color: red;
    border-style: inset;
    outline: none;
}

input[type='checkbox']:disabled{
    opacity: 0.5;
}

input:disabled, button:disabled, textarea:disabled, .disabled{
    border-color: rgb(100,100,100) !important;
    cursor: no-drop
}

/*================TABLE ELEMENTS==================*/
.formattedtable th{
    font-size: 1.5rem;
}
.formattedtable th, .formattedtable td{
    padding: 0.25rem;
    border: 3px inset black;
    vertical-align: middle;
}

.formattedtable tr:nth-child(odd){
    background-color: rgba(200,200,200,0.1);
}
.formattedtable tr:nth-child(even){
    background-color: rgba(255,255,255,0.25);
}
.formattedtable thead tr:first-child{
    background-color: rgba(0,75,150,0.3);
}
.formattedtable tbody tr:hover{
    background-color: rgba(150,150,150,0.8);
}